{
	"Name": "APPNAME",
    "Port": ":3000",
	"URL": "http://localhost:3000",
    "DevURL": "http://localhost:8080",
	"Providers": {
        "google": {
            "id": "ID",
            "secret": "SECRET",
            "uri": "/auth/callback",
            "scopes": ["https://www.googleapis.com/auth/userinfo.email", "https://www.googleapis.com/auth/calendar"]
        }
	}
}
